.emailCode{
    background-color: var(--white);
    padding: 40px;
    padding-top: 110px;
    padding-bottom: 96px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.emailCodeCard{
    min-width: 500px;
    padding: 32px 100px;
    background-color: var(--card-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:32px
}
.sendCodeAgain{
    cursor: pointer;
    text-decoration: underline;
    margin-top: -16px;
    margin-bottom: -16px;
    color: var(--light-text-color)
}

.emailCardHeader{
    font-size: 32px;
    font-weight: 500;
    color: var(--text-color)
}


.emailButton{
    width: 100%;
    height: 60px;
    border-radius: 8px;

}

.emailCardDescr{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.codeInput{
    height: 60px;
}
.emailCardLogo{
    width: 50%;
}


.emailCodeWrapper{
    display: flex;
    flex-direction: row;
    gap:32px;
    align-items: center;
    justify-content: center;
    width: 100%;
}