.ProjectCard{
    display: flex;
    flex-direction: row;
    height: 250px;
    background-color: var(--white);
    width: 100%;
}

.ProjectPic{
    height: 250px;
    width: 316px;
    overflow: hidden;
}
.projectDescription{
    overflow-y: auto;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: var(--light-text-color);
    line-height: 18px;
    height: 100%;
    padding: 4px 0px;

}

.projectDescrH1{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: var(--text-color)
}

.ProjectCardInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 24px;
    gap:8px;
    width: calc(100% - 48px);
}
.ProjectBtnWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
.projectFooter{
    padding:12px 0px;
    border-top: 1px solid var(--line-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
}

.ProjectCardHeader{
    border-bottom: 1px solid var(--line-color);
    padding:18px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ProjectCardHeader{
    
}
.ProjectName{
    color:var(--text-color);
    font-size: 16px;
    font-weight: 700;
}
.ProjectLastEdit{
    color:var(--light-text-color);
    font-size: 10px;
    font-weight: 400;
}

.delBtn{
    transition: 0.3s;
    cursor: pointer;
}
.delBtn:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
   .ProjectCard{
    flex-direction: column;
    height: 400px;
   }
   .ProjectPic{
    height: 200px;
    width: 100%;
   }
}

@media screen and (max-width: 450px) {
    .ProjectCard{
     flex-direction: column;
     height: auto;
    }
    .ProjectCardInfo{   
        width: 100%;
    }
    .ProjectPic {
     display: none;
    }
    .ProjectCardHeader{
        flex-wrap: wrap;
        gap:8px;
        width: 100%;
        justify-content: space-between;
    }
    .ProjectBtnWrapper{
        width: 100%;
        justify-content: space-between;
    }
 }