.regPage{
    background-color: var(--white);
    padding: 40px;
    padding-top: 110px;
    padding-bottom: 96px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.regCardHeader{
    font-size: 32px;
    font-weight: 500;
    color: var(--text-color)
}
.regCard{
    min-width: 500px;
    padding: 32px 50px;
    background-color: var(--card-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px
}

.regCardLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:16px;
    min-width: 400px;
}
.regCardLineText{
    width: 100%;
}
.regCardButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:16px;
}

.regButton{
    width: 100%;
}