.HeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: var(--white);
    position: fixed;
    top:0px;
    right: 0px;
    width: 100%;
    z-index: 1000;
}
.HeaderBtnsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:8px; 
}

.HeaderLogo{
  cursor: pointer;
  transition: 0.3s;
}

.HeaderLogo:hover{
  transform: scale(1.02);
}

@media screen and (max-width: 450px) {
  .HeaderEmail{
    display: none;
  }
}