
.accountPage{
    padding: 40px;
    padding-top: 110px;
    padding-bottom: 96px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px
}

.accountCard{
    width: 100%;
    padding: 64px 100px;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content:space-between;
    gap:64px
}
.accountCardInfoHeader{
    font-size: 32px;
    font-weight: 500;
    color: var(--text-color);
    width: 100%;
    text-align: center;
}

.TransactionsInfo{
    display: flex;
    flex-direction: column;
    gap:16px;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
.accountCardInfo{
    display: flex;
    flex-direction: column;
    gap:16px;
    font-size: 16px;
    height: 100%;
}

.accountInfoText{
    text-align: center;
    color: var(--light-text-color);
    font-size: 20px;
    font-weight: 400;
}

.TransactionCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
    background-color: var(--modal-background-color);
    border-radius: 10px;
    padding: 16px;
    width: 100%;
}

.TransactionCardAmount{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.TransactionCardProject{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.TransactionCardDate{
    font-size: 16px;
    font-weight: 400;
    color: var(--light-text-color);
}

.TransactionsList{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}